.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.adjacent-siblings h2 + p {
    color: red;
}

.general-sibling h2 ~ p{
    color: blue;
}

.child div > p {
    color: red;
}

.desendit div p {
    color: red;
}